h2 {
  margin: 0;
}
.dish-image::part(image) {
  width: 100%;
  height: 100%;
  border-radius: 5px !important;
  overflow: hidden;
  object-fit: cover;
}
.recipe-info {
  font-size: large;
  margin: 10px 0px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
}
