.profile-info {
  align-self: center;
  max-width: 900px;
}
.profile-image {
  align-items: center;
}

.profile-image:hover {
  opacity: 60%;
  cursor: pointer !important;
  background-image: url("../../assets/create-outline.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.user-image::part(image) {
  margin: 0;
  max-width: 170px;
  border-radius: 200px;
  object-fit: contain;
}
